<h1>Editing checkout</h1>
<%= render "form", users_checkout: @users_checkout %>
<br>
<div>
  <%= link_to "Show this checkout", @users_checkout %> |
  <%= link_to "Back to checkouts", users_checkouts_path %>
</div>
