 <!--  footer -->
<footer>
   <div class="footer">         
      <div class="container text-center" style="display:flex;">               
         <div>
               <%= button_to 'About Us', about_us_path ,
               method: :get, class: "mb-2 btn btn-primary btn-lg" %>   
               <ul class="about_us">
               <li> Want to read about us, click the button above . This is a sample text which will be replaced later on .</li>
            </ul>
         </div>
         <div>
            <%= button_to 'Contact Us', contact_us_path ,
               method: :get, class: "mb-2 btn btn-success btn-lg" %>  
            <ul class="about_us">
               <li>Having a query, click the button above . This is a sample text which will be replaced later on .</li>
            </ul>
         </div>                
      </div>
      <div class="copyright">
         <div class="container">
            <div class="row">
               
                  <p>© 2022 All Rights Reserved To InMart </p>
               
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- end footer -->