body{
    height: 100vh;
}
.navbar-header{
    border-bottom: 1px solid #c2c2c2;
    .nav-links{
        border-top-radius: none;

    }
}
.sidebar{
   background-color: #f8f9fa;
   border-right: 1px solid #dee2e6;
   padding-right: 0px !important;
}


.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e9ecef;
}

.message strong {
    display: block;
    margin-bottom: 5px;
}

.select2-container{
    width: 100% !important;
}
.select2-container .select2-search--inline .select2-search__field{
    width: 100% !important;
    height: 15vh !important;
}
.select2-container{
    z-index: 1055;
}
.chat-screen{
    #one-to-one, #group-chats ul{
        list-style-type: none;
        margin: 0px;
        background: #d0ffc6;
        li{
            padding: 15px;
        }
    }
    height: 100vh;
    width: 100vw;
}
.status-section{
    height: 40px;
    #setStatus{
        width: 12vw;
    }
}
.user-status{
    padding-top: 3px;
    img{
        border-radius: 15%;
    }
}
.chat-messages{
    padding: 20px;
    padding-right: 0px !important;
}

.message-wrapper {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.current-user {
    justify-content: flex-end; /* Align current user's messages to the right */
}

.other-user {
    justify-content: flex-start; /* Align other users' messages to the left */
}

.message-content {
    max-width: 70%; /* Limit message width */
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
    position: relative;
}

.message-date {
    position: absolute;
    top: -16px; /* Adjust position as needed */
    right: 0; /* Align to the right */
    font-size: 0.8em; /* Smaller font for the date */
    color: #888; /* Lighter color for the date */
    width: max-content;
}
.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 10px;
    object-fit: cover; /* Ensures the image covers the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}