body{
    height: 100vh;
}
.navbar-header{
    border-bottom: 1px solid #c2c2c2;
    .nav-links{
        border-top-radius: none;

    }
}
.sidebar{
   background-color: #f8f9fa;
   border-right: 1px solid #dee2e6;
   padding-right: 0px !important;
}


.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e9ecef;
}

.message strong {
    display: block;
    margin-bottom: 5px;
}

.select2-container{
    width: 100% !important;
}
.select2-container .select2-search--inline .select2-search__field{
    width: 100% !important;
    height: 15vh !important;
}
.select2-container{
    z-index: 1055;
}
.chat-screen{
    #one-to-one, #group-chats ul{
        list-style-type: none;
        background: #cbfff1;
        li{
            padding: 10px;
        }
    }
    height: 92vh;
    width: 100vw;
}
.status-section{
    height: 40px;
    #setStatus{
        width: 12vw;
    }
}
.user-status{
    padding-top: 3px;
    img{
        border-radius: 15%;
    }
}
.chat-messages{
    padding: 10px !important;
    #messages{
        background-size: cover;
    }
}

.message-wrapper {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
    padding: 7px 0px;
}

.current-user {
    justify-content: flex-end; /* Align current user's messages to the right */
}

.other-user {
    justify-content: flex-start; /* Align other users' messages to the left */
}

.message-content {
    max-width: 70%; /* Limit message width */
    padding: 7px;
    border-radius: 5px;
    background-color: #f1f1f1;
    position: relative;
}

.message-date {
    position: absolute;
    top: -16px; /* Adjust position as needed */
    right: 0; /* Align to the right */
    font-size: 0.8em; /* Smaller font for the date */
    color: #888; /* Lighter color for the date */
    width: max-content;
}
.profile-pic {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin: 0px 8px;
    object-fit: cover; /* Ensures the image covers the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.notification {
    background-color: #2cd173;
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.5s ease; /* Only fade-out transition */
}

.notification.hide {
    opacity: 0;
}

.invite-item{
    border-bottom: 1px solid #ffffff;
}

#single-list, #group-list{
    margin-top: 1px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#settings-modal{
    .modal-dialog {
        max-width: 70vw;
        height: 70vh;
        margin: auto;
    }

    .modal-content {
        height: 100%;
        margin: 10% auto;
        .modal-area{
            height: 100%;
            .modal-body{
                height: 58vh;
                .row{
                    height: 100%;
                }
            }
        }
    }
    .nav-item.selected {
        background-color: #ff7c18;
        a{
            color: white;
        }
    }
    #settings-content{
        justify-content: center;
        display: flex;
        #profile-settings{
            #previewImage {
                border-radius: 50%;
            }

            h2 {
                text-align: center;
                margin-bottom: 20px;
            }

            .form-group {
                margin-bottom: 15px;
            }

            label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
            }

            #email{
                width: 60%;
            }

            input[type="text"],
            input[type="email"],
            input[type="password"] {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            button {
                width: 100%;
                padding: 10px;
                background-color: #28a745;
                border: none;
                border-radius: 4px;
                color: white;
                font-size: 16px;
                cursor: pointer;
            }

            button:hover {
                background-color: #218838;
            }

            .login-link {
                text-align: center;
                margin-top: 10px;
            }

            .login-link a {
                color: #007bff;
                text-decoration: none;
            }

            .login-link a:hover {
                text-decoration: underline;
            }
        }
    }
}
.app-color{
    color: #ff6c00;
}
#settings-dialog{
   border-left: 1px solid #9e9e9e;
}

.theme-box {
    border: 2px solid transparent;
    margin: 5px;
}
.theme-box:hover {
    border-color: #007bff; /* Highlight on hover */
}
#theme-settings{
    width: 100%;
}
/*
chat messages duplication fix
by data separation of messages
themes loading freezing app
invite user accept/reject flow, remove email invite confirm, backend flow will remain same
message seen by, based on this, new message noty
docker
elastic search for search in messages
login with google first time , save password to clipboard
*/