<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title> WeChat </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" th:href="@{/css/notification.css}" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body>
<div id="notification-container">
    <div th:each="notification : ${notifications}" th:class="${'alert alert-success notification ' + notification.type + ' ' + notification.duration_type}" th:text="${notification.message}"></div>
</div>
<div id="toast-container" class="toast-container"></div> <!-- New toast container -->
<nav class="navbar navbar-header navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0 gap-2">
                <li class="nav-item d-flex">
                    <div>
                        <a class="nav-link active nav-logo" aria-current="page" href="#"><img th:src="@{/favicon.ico}" width="20px" height="20px"> <span style="padding-top: 2px;">WeChat </span></a>
                    </div>
                </li>
                <li>
                    <div class="user-status d-flex mt-2 gap-1"><img th:src="@{/images/status.png}" width="20px" height="20px"><p style="line-height: 17px;" id="myStatus"></p></div>
                </li>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav me-auto mb-lg-0 gap-1">
                <li>
                    <form action="#" th:action="@{/api/status}" method="post" id="statusForm">
                        <div class="status-section gap-1 d-flex">
                            <select id="statusSelect" name="statusSelect" class="form-control" required>
                                <option value="">Select Status</option>
                                <option value="Available">Available</option>
                                <option value="Busy">Busy</option>
                                <option value="Away">Away</option>
                                <option value="Custom">Custom</option>
                            </select>
                            <input type="text" name="customStatus" id="customStatus" class="form-control" placeholder="Enter custom status" style="display:none;" />
                            <button type="submit" class="btn btn-primary" id="setStatus">Set Status</button>
                        </div>
                    </form>
                </li>
                <li>
                    <div class="invite-btn">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inviteModal">
                            Invite Users
                        </button>
                    </div>
                </li>
                <li>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
                <li class="nav-item d-flex">
                    <img id="profilePic" class="profile-pic" src="" alt="No Profile Picture">
                    <span style="margin: auto;" th:text="${#authentication.principal instanceof T(org.springframework.security.oauth2.core.user.OAuth2User) ?
                                            #authentication.principal.attributes['name'] :
                                            #authentication.principal.username}"></span>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="POST">
                        <button type="submit" class="btn btn-small" onclick="return confirm('Are you sure?')">
                            <img th:src="@{/images/logout.png}" alt="Logout" width="30px" height="30px"/>
                        </button>
                    </form>
                </li>
                <li>
                    <div class="invite-btn">
                        <button type="button" class="btn btn-primary" onclick="loadContent('profile-settings', null)" data-bs-toggle="modal" data-bs-target="#settings-modal">
                            Settings
                        </button>
                    </div>
                    <div id="settings-modal" class="modal fade" tabindex="-1" aria-labelledby="settings-modal-label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-area">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="settings-modal-label">Settings</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <div class="row">
                                            <div class="col-md-2 p-0">
                                                <div class="menu-bar">
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item" onclick="loadContent('profile-settings', this)">
                                                            <a class="nav-link" href="#">Profile Settings</a>
                                                        </li>
                                                        <li class="nav-item" onclick="loadContent('theme', this)">
                                                            <a class="nav-link" href="#">Theme</a>
                                                        </li>
                                                        <li class="nav-item" onclick="loadContent('blocked-users', this)">
                                                            <a class="nav-link" href="#">Blocked Users</a>
                                                        </li>
                                                        <li class="nav-item" onclick="loadContent('account-settings', this)">
                                                            <a class="nav-link" href="#">Account Settings</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-10" id="settings-dialog">
                                                <div id="settings-content" class="mt-4">
                                                    <div id="profile-settings" style="display: none;">
                                                        <div class="profile-container">
                                                            <h4 class="text-center mb-4 form-heading app-color">Update Profile</h4>
                                                            <form id="profileUpdateForm" th:action="@{/updateProfile(${_csrf.parameterName}=${_csrf.token})}" method="post" th:object="${user}" enctype="multipart/form-data" onsubmit="return validateForm()">
                                                                <div class="d-flex gap-5">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <input type="text" id="username" th:field="*{username}" placeholder="Username" class="form-control" required />
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input type="password" id="password" th:field="*{password}" placeholder="Password" class="form-control" required />
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" class="form-control" required />
                                                                        </div>
                                                                        <div class="input-group">
                                                                            <input type="text" id="email" th:field="*{email}" placeholder="Email" class="form-control" aria-label="email" aria-describedby="basic-addon2" required />
                                                                            <span class="input-group-text" id="basic-addon2">@gmail.com</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="justify-content-center d-flex mb-2">
                                                                                <label for="profilePictureFile">Profile Picture</label>
                                                                            </div>
                                                                            <div id="imagePreviewProfile" style="margin-bottom: 10px; display: none;" class="justify-content-center d-flex mb-3">
                                                                                <img id="previewImageProfile" src="/images/profile-image.png" alt="Image Preview" class="img-fluid" style="width: 135px; height: 135px; object-fit: cover;" />
                                                                            </div>
                                                                            <input type="file" id="pictureFileProfile" name="profilePicture" accept="image/*" class="form-control" onchange="previewSettingsProfileImage(event)" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex justify-content-center mt-5 mb-5">
                                                                    <button type="submit" class="btn btn-primary btn-block w-25" id="submitButton">Update</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <div id="theme-settings" style="display: none;">
                                                        <h4 class="text-center mb-4 form-heading app-color">Theme Settings</h4>
                                                        <div class="row justify-content-center" id="theme-selection">
                                                            <!-- Theme boxes will be dynamically added here -->
                                                        </div>
                                                        <!-- Add your theme settings content here -->
                                                    </div>

                                                    <div id="blocked-users-settings" style="display: none;"> <!-- Initially hidden -->
                                                        <h4 class="text-center mb-4 form-heading app-color">Blocked Users Settings</h4>
                                                        <!-- Add your blocked users content here -->
                                                    </div>

                                                    <div id="account-settings" style="display: none;"> <!-- Initially hidden -->
                                                        <h4 class="text-center mb-4 form-heading app-color">Account Settings</h4>
                                                        <!-- Add your account settings content here -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="p-0 m-0">
    <div class="chat-screen row m-0">
        <div class="sidebar col-md-2 p-0">
            <div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="inviteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="inviteModalLabel">Invite Users</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="#" th:action="@{/api/invites}" method="post" id="inviteForm" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-check form-switch mb-3">
                                            <input class="form-check-input" type="checkbox" role="switch" id="group_type" name="type">
                                            <label class="form-check-label" for="group_type">Group Chat</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" id="group_name" name="groupName" placeholder="Group Name" class="form-control disabled" disabled required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="justify-content-center d-flex mb-2">
                                                <label for="profilePictureFile">Group Picture</label>
                                            </div>
                                            <div id="imagePreview" style="margin-bottom: 10px; display: none;" class="justify-content-center d-flex mb-3">
                                                <img id="previewImage" src="/images/profile-image.png" alt="Image Preview" class="img-fluid" style="width: 135px; height: 135px; object-fit: cover;" />
                                            </div>
                                            <input type="file" id="profilePictureFile" name="profilePicture" accept="image/*" class="form-control" onchange="previewProfileImage(event)" disabled/>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="senderEmail" th:value="${#authentication.principal instanceof T(org.springframework.security.oauth2.core.user.OAuth2User) ?
                                        #authentication.principal.attributes['email'] :
                                        #authentication.principal.email}"/>
                                <select id="emailInput" class="form-control" multiple="multiple" required>
                                    <!-- Options will be populated dynamically -->
                                </select>
                                <input type="hidden" name="emails" id="emailList" /> <!-- Hidden input to hold the processed email addresses -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Send Invite</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Tabs for Conversations -->
            <ul class="nav nav-tabs flex-row" id="myTab" role="tablist">
                <li class="nav-item w-50">
                    <a class="nav-link active" id="one-to-one-tab" data-bs-toggle="tab" href="#one-to-one" role="tab" aria-controls="one-to-one" aria-selected="true">Single</a>
                </li>
                <li class="nav-item w-50">
                    <a class="nav-link" id="group-chats-tab" data-bs-toggle="tab" href="#group-chats" role="tab" aria-controls="group-chats" aria-selected="false">Group</a>
                </li>
            </ul>
            <div class="chat-content">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="one-to-one" role="tabpanel" aria-labelledby="one-to-one-tab">
                        <ul id="single-list" style="list-style-type:none;" class="p-0">
                            <!-- Dynamic list of single chats will be populated here -->
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="group-chats" role="tabpanel" aria-labelledby="group-chats-tab">
                        <ul id="group-list" style="list-style-type:none;" class="p-0">
                            <!-- Dynamic list of group chats will be populated here -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="chat-messages col-md-10">
            <div id="messages" class="message-container" style="height: 80vh; overflow-y: scroll; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
                <!-- Chat messages will appear here -->
            </div>
            <div class="input-group mt-3">
                <input type="text" id="messageInput" class="form-control" placeholder="Type a message..." aria-label="Type a message..." />
                <button class="btn btn-primary" id="sendMessage">Send</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js" integrity="sha512-tL4PIUsPy+Rks1go4kQG8M8/ItpRMvKnbBjQm4d2DQnFwgcBYRRN00QdyQnWSCwNMsoY/MfJY8nHp2CzlNdtZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script th:src="@{/js/notification.js}"></script>
<script th:src="@{/js/status.js}"></script>
<script th:type="module" th:src="@{/js/chat.js}"></script>
<script th:src="@{/js/home.js}"></script>
<script>
    function previewProfileImage(event) {
    var reader = new FileReader();
    reader.onload = function() {
        var output = document.getElementById('previewImage');
        output.src = reader.result;
        document.getElementById('imagePreview').style.display = 'block';
    };
    reader.readAsDataURL(event.target.files[0]);
}
</script>
</body>
</html>
