.notification {
    position: fixed !important;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 80vw;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    justify-content: center;
}

.notification.hide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.notification {
    margin-top: 10px; /* Space between notifications */
}
