.home-alert {
  animation: fadeInAnimation ease 1s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


.home-notice {
  animation: fadeInAnimation ease 1s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {opacity: 0;
      height: 50px;
  }
  100% {
    opacity: 0;
  display: none;
      height: 0px;
      padding: 0px;
      margin: 0px;
      background-color: white;
      border: none;
      overflow: hidden;
    }
}


.apple_pagination {
display: inline-block;
background: #ffffff;
border: 1px solid #a5a0a0;
text-align: center;
padding: 1em;
margin-bottom: 5vh;
cursor: default; }
.apple_pagination a, .apple_pagination span {
padding: 0.2em 0.3em; }
.apple_pagination .disabled {
color: #aaaaaa; }
.apple_pagination .current {
color: white;
font-style: normal;
font-weight: bold;
background-color: #f70000;
display: inline-block;
width: 1.4em;
height: 1.4em;
line-height: 1.5;
-moz-border-radius: 1em;
-webkit-border-radius: 1em;
border-radius: 1em;
text-shadow: rgb(93, 83, 83) 1px 1px 1px; }
.apple_pagination a {
text-decoration: none;
color: black; }
.apple_pagination a:hover, .apple_pagination a:focus {
text-decoration: underline; }
    

#root_p1{
  color: black;
  background-color: white;
}

#order_table{
  width: 100%;
  border-spacing: 10px;
}

#order_table, th, td {
  margin-top: 3vh;
  border:5px solid grey;
  padding: 1px;
}

#order_now{
  width: 100%;
  border-spacing: 100px;
}

#order_now, th, td {
  margin-top: 3vh;
  border:5px solid grey;
  padding: 15px;
}

.user-name {
  color: rgb(195, 12, 12);
  padding-right: 15px;
}

.dropdown-menu > li > a:hover {
  background-image: none;
  background-color: red;
  color: white;
}

.btn:hover {
  background-image: none !important;
  background-color: #898989 !important;
  color: white !important;
}


#user_table{
  width: 100%;
  border-spacing: 100px;
}

#user_table, th, td {
  margin-top: 3vh;
  padding: 15px;
}


table, th, td {
  background-color: white;
  border:5px solid grey;
  text-align: center !important;
}


.jumbotron {
  text-align: center;
  background-image: asset-url('home_pic.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

// telephone css
body {
  font-family: Helvetica, sans-serif;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#phone, .btn {
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  color: #ffffff;
  background-color: #428BCA;
  border-color: #357EBD;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}

.btn:focus, .btn:hover {
  background-color: #3276B1;
  border-color: #285E8E;
}

.btn:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.alert {
  padding: 15px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  border-color: #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

