<div class="limiter">
    <div class="container-login100" style="background-image: url('/assets/bg-02.jpg');">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-40 p-b-70">
          <div class="card">
            <div class="card-header">Two Factor Authentication</div>
            <div class="card-body">
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>
                 <%= render "devise/shared/error_messages" %>
               <%= f.input :otp_attempt, label: 'OTP' %>
                <div class="actions">
                  <%= f.submit 'Verify', class: 'btn btn-primary mt-2' %>
                </div>
              <% end %>
            </div>
          </div>
      </div>
    </div>
</div>
