<div class="limiter">
  <div class="container-login100" style="background-image: url('/assets/bg-02.jpg'); padding-top:0px; padding-bottom:7vh;">
    <div class="text-left" style="margin-right:65vw;">
        <h1 style="color:indigo;">Welcome to Instamart</h1>
        <h4 style="color:red;"> Start Exploring Now :)</h4>
        <a  class="btn btn-success btn-lg" href="/users/sign_up" role="button">SignUp Here!</a>
        <a  class="btn btn-primary btn-lg" href="/users/sign_in" role="button">Login</a>
    </div>
  </div>
</div>

























