<div class="text-center">
<h1>Edit Your Profile</h1>

<%= render "form", user: @user %>

<br>

<div class="text-center">
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
</div>
