HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore application.properties
**/src/main/resources/application-dev.properties
# Ignore Firebase admin SDK JSON file
#rahullour01@gmail.com file
**/src/main/resources/wechat-5e447-firebase-adminsdk-dcsei-e95bbc009b.json
#rahulbidawas@gmail.com account file
**/src/main/resources/wechat-ec503-firebase-adminsdk-fbsvc-02a7509602.json

#Ignore Google OAuth Secret
**/src/main/resources/client_secret_416052037332-l2blpcf7qklqmtblgham6o10nu3ell7d.apps.googleusercontent.com.json